li a {
    color: green;
    text-decoration: none;
}

li{
    text-align: center;
    
}

li a:hover{
    color: rgb(18, 19, 18);
    text-decoration: dotted;
}

body {
    background: white url('images/background.jpeg') no-repeat;
}